@model ElectronicStore.WebUI.Models.SellerEditView

<div id="modalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nameModalOperation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Информация о модели</h4>
            </div>
            <div class="modal-body">
                <form id="saveForm">
                    @using (Html.BeginForm())
                    {
                        <label id="serverError"></label>
                        @Html.ValidationSummary(false)
                        @Html.HiddenFor(m => m.SellerId)
                        <div class="form-group" id="editeForm">
                            @Html.LabelFor(m => m.Name)
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @type = "text", @placeholder = "Enter name" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="form-group" id="editeForm">
                            @Html.LabelFor(m => m.Description)
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", @type = "text", @placeholder = "Enter description" })
                            @Html.ValidationMessageFor(model => model.Description)
                        </div>
                        <div class="form-group" id="editeForm">
                            @Html.LabelFor(m => m.Birth)
                            @Html.TextBoxFor(m => m.Birth, new { @class = "form-control", @type = "text", @placeholder = "Enter category" })
                            @Html.ValidationMessageFor(model => model.Birth)
                        </div>
                        <input id="editeBtn" type="submit" class="btn btn-success" value="Обновить" />
                    }
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#modalEdit').ready(() => {
        showSellerEdit();
    });

    $('form').on("submit", function (event) {
        event.preventDefault();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("EditSeller", "Admin")',
            data: $('form').serialize(),
            success: function (result) {
                if (result.result) {
                    hideSellerEdit();
                    openSellerform();
                }
                else {
                    alert("Невозможно обновить информацию!");
                }
            }
        });
    });

    showSellerEdit = function () {
        $("#modalEdit").modal();
    }

    hideSellerEdit = function () {
        $("#modalEdit").modal('hide');
    }
</script>