
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<h2>Админка</h2>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Products</a></li>
    <li class="list-group-item"><a href="#" onclick="return openClientform()">Clients</a></li>
    <li class="list-group-item"><a href="#" onclick="return openSellerform()">Sellers</a></li>
    <li class="list-group-item"><a href="#" onclick="return openProductsform()">Sales</a></li>
</ul>

<div class="cont">
    <div class="loader" id="loader">Loading...</div>
</div>

<div class="lines">
    <div id="window"></div>
    <div id="modalWindow"></div>
</div>

<script>
    /*Products*/
    function openProductsform() {
        $('#loader').css('display', 'display');
        $('#window').load('@Url.Action("LoadProducts", "Admin")',
            function () {
                $('#loader').css('display', 'none');
            });
    }

    openEditProductform = function (id) {
        $('#modalWindow').load('@Url.Action("EditProduct", "Admin")/' + id);
    }

    function DeleteProduct(number) {

        $.ajax({
            url: '@Url.Action("DeleteProduct", "Admin")/' + number,
            type: 'POST',
            success: function (result) {
                if (result.result == true) {
                    openProductsform();
                }
                else {
                    alert("Нельзя удалить продукт!");
                }
            }
        });
    }

    /*Seller*/
    function openSellerform() {
        $('#loader').css('display', 'display');
        $('#window').load('@Url.Action("LoadSeller", "Admin")',
            function () {
                $('#loader').css('display', 'none');
            });
    }

    function DeleteSeller(id) {
        $.ajax({
            url: '@Url.Action("DeleteSeller", "Admin")/' + id,
            type: 'POST',
            success: function (result) {
                if (result.result) {
                    openSellerform();
                }
                else {
                    alert("Нельзя удалить продавца!");
                }
            }
        });
    }

    /*Client*/
    function openClientform() {
        $('#loader').css('display', 'display');
        $('#window').load('@Url.Action("LoadClient", "Admin")',
            function () {
                $('#loader').css('display', 'none');
            });
    }

    function DeleteClient(id) {

        $.ajax({
            url: '@Url.Action("DeleteClient", "Admin")/' + id,
            type: 'POST',
            success: function (result) {
                if (result.result) {
                    openClientform();
                }
                else {
                    alert("Нельзя удалить клиента!");
                }
            }
        });
    }

</script>